<body>
    <div *ngIf="estado" class="card-body">
        <h1 id="ok">{{mensaje}}!</h1>
        <div class="col-xs-3">
            <div class="card-body">
                <button type="button" class="btn btn-info mr-3" routerLink="/usuarios/ingresar">Iniciar Sesión</button>
            </div>
        </div>
    </div>
    <div *ngIf="!estado" class="card-body">
        <h1 id="error">{{mensaje}}!</h1>
        <div class="col-xs-3">
            <div class="card-body">
                <button type="button" class="btn btn-info mr-3" routerLink="/usuarios/ingresar">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</body>