<body>
    <tbody *ngIf="confirmacion">
        <div id="aviso">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Artículo {{mensaje}} correctamente!</strong> 
        </div>
        </div>
    </tbody>
    <tbody *ngIf="error">
        <div id="aviso">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error: {{mensaje}}!</strong> 
        </div>
        </div>
    </tbody>
    <table class="table table-dark table-striped table-hover">
        <thead class="thead-light">
            <th>Id</th>
            <th>Codigo Artículo</th>            
            <th>Descripción</th>
            <th>Proveedor</th>            
            <th>Stock Actual</th>
            <th>Precio</th>
            <th>Acción</th>
        </thead>        
        <tbody *ngIf="articulos.length > 0; else fila">            
            <tr *ngFor=" let articulo of articulos; let i= index">
                <td><input class="form-control" type="number" name="id" [(ngModel)]="articulo.Id" readonly></td>
                <td><input class="form-control" type="text" min="0" name="codigoproducto" [(ngModel)]="articulo.CodigoProducto"></td>                
                <td><input class="form-control" type="text" min="0" name="descripcion" [(ngModel)]="articulo.Descripcion"></td>                
                <td>
                    <select class="form-control" name="razonsocial" [(ngModel)]="articulo.RazonSocial" placeholder="Razón Social">
                        
                        <option value="{{proveedor.RazonSocial}}" *ngFor="let proveedor of proveedores">
                            {{proveedor.RazonSocial}}
                        </option>                        
                    </select>
                </td>
                <td><input class="form-control" type="number" min="0" max="1000" name="stockactual" [(ngModel)]="articulo.StockActual"></td>
                <td><input class="form-control" type="number" min="0.01" max="1000000" step="0.01" name="precioventa" [(ngModel)]="articulo.PrecioVenta"></td>                
                <td><button class="btn btn-info mr-3" type="submit" (click)="editar(articulo)">Editar</button>
                    <button class="btn btn-danger" type="submit" (click)="eliminar(articulo)">Eliminar</button></td>
            </tr>        
        </tbody>    
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="7">No hay mas filas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>

    <a class="btn btn-success mr-3" id="botones" href="#agregar" data-toggle="collapse">Agregar</a>
    <div class="card-body" id="label">              
        <div id="agregar" class="collapse">
            <h4><strong>Nuevo Producto</strong></h4>
            <form (submit)="registrar()">
                <div class="form-group">
                    <label><strong>Codigo Producto</strong></label>
                    <input type="text" class="form-control" name="CodigoProducto" [(ngModel)]="articulo.CodigoProducto" placeholder="Codigo Producto">                    
                    <div [ngSwitch]="errorCodigoProducto">
                        <div *ngSwitchCase="1">Debes completar el campo</div>
                        <div *ngSwitchCase="2">CodigoProducto muy largo</div>
                        <div *ngSwitchCase="3">CodigoProducto debe ser alfanumerico</div>
                    </div>
                    <label><strong>Descripcion</strong></label>
                    <input type="text" class="form-control" name="Descripcion" [(ngModel)]="articulo.Descripcion" placeholder="Descripción">
                    <div [ngSwitch]="errorDescripcion">
                        <div *ngSwitchCase="1">Debes completar el campo</div>
                        <div *ngSwitchCase="2">Descripcion Documento muy largo</div>
                        <div *ngSwitchCase="3">Descripcion Documento debe ser numérico</div>
                    </div>
                    <label><strong>Razón Social</strong></label>
                    <select class="form-control" name="RazonSocial" [(ngModel)]="articulo.RazonSocial" placeholder="Razón Social">
                        <option value="" selected>Seleccionar</option>
                        <option value="{{proveedor.RazonSocial}}" *ngFor="let proveedor of proveedores">
                            {{proveedor.RazonSocial}}
                        </option>                        
                    </select>
                    <div [ngSwitch]="errorRazonSocial">
                        <div *ngSwitchCase="1">Debes completar el campo</div>
                        <div *ngSwitchCase="2">Razon Social muy largo</div>
                        <div *ngSwitchCase="3">Razon Social debe ser alfabetico</div>
                    </div>                    
                    <label><strong>Stock Actual</strong></label>
                    <input type="number" class="form-control" min="0" max="1000" name="StockActual" [(ngModel)]="articulo.StockActual" placeholder="StockActual">
                    <div [ngSwitch]="errorStockActual">
                        <div *ngSwitchCase="1">Debes completar el campo</div>
                        <div *ngSwitchCase="2">StockActual debe estar entre 0 y 1000</div>
                        <div *ngSwitchCase="3">StockActual debe ser numérico</div>
                    </div>                  
                    <label><strong>Precio Venta</strong></label>
                    <input type="number" class="form-control" min="0.01" max="1000000" step="0.01" name="PrecioVenta" [(ngModel)]="articulo.PrecioVenta" placeholder="Precio Venta">
                    <div [ngSwitch]="errorPrecioVenta">
                        <div *ngSwitchCase="1">Debes completar el campo</div>
                        <div *ngSwitchCase="2">Precio Venta debe estar entre 0.01 y 1000000</div>
                        <div *ngSwitchCase="3">Precio Venta debe ser numérico</div>
                    </div>
                    
                </div>                
                <button class="btn btn-primary" (click)="verificarForm()">Guardar</button>                
            </form>        
        </div>    
    </div>
    <button class="btn btn-dark mr-3" id="botones2" routerLink="../../usuarios/home">Volver</button>    
</body>