<body>
    <tbody *ngIf="confirmacion">
        <div id="aviso">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Proveedor {{mensaje}} correctamente!</strong> 
        </div>
        </div>
    </tbody>
    <tbody *ngIf="error">
        <div id="aviso2">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error: verifique los datos ingresados! 
                <br> {{mensaje}}<br>  </strong> 
        </div>
        </div>
    </tbody>
    <table class="table table-dark table-striped table-hover">
        <thead class="thead-light">
            <th>ID</th>
            <th>Tipo Documento</th>
            <th>Número Documento</th>
            <th>Razón Social</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Localidad</th>
            <th>Provincia</th>
            <th>Código Postal</th>
            <th>Descripción</th>
            <th>Acción</th>
        </thead>        
        <tbody *ngIf="proveedores.length > 0; else fila">            
            <tr *ngFor=" let proveedor of proveedores; let i= index">
                <td><input class="form-control" type="number" name="id" [(ngModel)]="proveedor.Id" readonly></td>
                <td><select name="tipodocumento" [(ngModel)]="proveedor.TipoDocumento" placeholder="TipoDocumento"class="form-control">
                    <option value="DNI">DNI</option>
                    <option value="CUIL">CUIL</option>
                    <option value="CUIT">CUIT</option>
                    <option value="Otro">Otro</option>
                </select></td>
                <td><input class="form-control" type="number" min="1" max="2000000000" name="numerodocumento" [(ngModel)]="proveedor.NumeroDocumento"></td>
                <td><input class="form-control" type="text" name="razonsocial" [(ngModel)]="proveedor.RazonSocial"></td>                
                <td><input class="form-control" type="email" name="email" [(ngModel)]="proveedor.Email"></td>
                <td><input class="form-control" type="text" name="direccion" [(ngModel)]="proveedor.Direccion"></td>
                <td><input class="form-control" type="text" name="localidad" [(ngModel)]="proveedor.Localidad"></td>
                <td><select class="form-control" name="provincia" [(ngModel)]="proveedor.Provincia" placeholder="Provincia">                    
                    <option value="Buenos Aires">Buenos Aires</option>
                    <option value="Capital Federal">Capital Federal</option>
                    <option value="Catamarca">Catamarca</option>
                    <option value="Chaco">Chaco</option>
                    <option value="Chubut">Chubut</option>
                    <option value="Cordoba">Cordoba</option>
                    <option value="Corrientes">Corrientes</option>
                    <option value="Entre Rios">Entre Rios</option>
                    <option value="Formosa">Formosa</option>
                    <option value="Jujuy">Jujuy</option>
                    <option value="La Pampa">La Pampa</option>
                    <option value="La Rioja">La Rioja</option>
                    <option value="Mendoza">Mendoza</option>
                    <option value="Misiones">Misiones</option>
                    <option value="Neuquen">Neuquen</option>
                    <option value="Rio Negro">Rio Negro</option>
                    <option value="Salta">Salta</option>
                    <option value="San Juan">San Juan</option>
                    <option value="San Luis">San Luis</option>
                    <option value="Santa Cruz">Santa Cruz</option>
                    <option value="Santa Fe">Santa Fe</option>
                    <option value="Santiago del Estero">Santiago del Estero</option>
                    <option value="Tierra del Fuego">Tierra del Fuego</option>
                    <option value="Tucuman">Tucuman</option>
                </select></td>
                <td><input class="form-control" type="number" min="1" max="50000" name="codigopostal" [(ngModel)]="proveedor.CodigoPostal"></td>
                <td><input class="form-control" type="text" name="descripcion" [(ngModel)]="proveedor.Descripcion"></td>
                <td><button class="btn btn-info mr-3" type="submit" (click)="editar(proveedor)">Editar</button>
                    <button class="btn btn-danger" type="submit" (click)="eliminar(proveedor)">Eliminar</button></td>                
            </tr>        
        </tbody>    
        <ng-template #fila>
            <tbody>
                <tr>
                    <td colspan="11">No hay mas filas</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
    <a class="btn btn-success mr-3" id="botones" href="#agregar" data-toggle="collapse">Agregar</a>
    <div class="card-body" id="label">              
        <div id="agregar" class="collapse">
            <h4>Nuevo Proveedor</h4>
            <form (submit)="registrar()">
                <div class="form-group">
                    <label>Tipo Documento</label>                    
                    <select class="form-control" name="TipoDocumento" [(ngModel)]="proveedor.TipoDocumento">
                        <option value="" selected>Seleccionar</option>                    
                        <option value="DNI">DNI</option>
                        <option value="CUIL">CUIL</option>
                        <option value="CUIT">CUIT</option>
                        <option value="Otro">Otro</option>
                     </select>
                    <div [ngSwitch]="errorTipoDocumento">
                        <div *ngSwitchCase="1">Debes completar el campo</div>
                        <div *ngSwitchCase="2">El valor seleccionado es incorrecto</div>                        
                    </div>
                    <label>Numero Documento</label>
                    <input type="text" class="form-control" name="NumeroDocumento" [(ngModel)]="proveedor.NumeroDocumento" placeholder="NumeroDocumento" (blur)="onBlurNumeroDocumento(proveedor.NumeroDocumento)">
                    <div [ngSwitch]="errorNumeroDocumento">
                        <div *ngSwitchCase="1">Numero Documento debe tener entre 3 y 20 caracteres</div>
                        <div *ngSwitchCase="2">Numero Documento debe ser numérico</div>                        
                    </div>
                    <label>Razon Social</label>
                    <input type="text" class="form-control" name="RazonSocial" [(ngModel)]="proveedor.RazonSocial" placeholder="RazonSocial" (blur)="onBlurRazonSocial(proveedor.RazonSocial)">
                    <div [ngSwitch]="errorRazonSocial">
                        <div *ngSwitchCase="1">Razon Social debe tener entre 3 y 150 caracteres</div>                        
                        <div *ngSwitchCase="2">Razon Social debe ser alfabetico</div>
                    </div>
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="proveedor.Email" placeholder="Email" (blur)="onBlurEmail(proveedor.Email)">
                    <div [ngSwitch]="errorEmail">
                        <div *ngSwitchCase="1">Debes debe tener hasta 150 caracteres</div>                        
                        <div *ngSwitchCase="2">Email debe ser nombre@dominio.algo .</div>
                    </div>
                    <label>Direccion</label>
                    <input type="text" class="form-control" name="Direccion" [(ngModel)]="proveedor.Direccion" placeholder="Direccion" (blur)="onBlurDireccion(proveedor.Direccion)">
                    <div [ngSwitch]="errorDireccion">
                        <div *ngSwitchCase="1">Direccion debe tener entre 3 y 100 caracteres</div>
                        <div *ngSwitchCase="2">Direccion debe ser alfanumérico</div>                        
                    </div>
                    <label>Localidad</label>
                    <input type="text" class="form-control" name="Localidad" [(ngModel)]="proveedor.Localidad" placeholder="Localidad" (blur)="onBlurLocalidad(proveedor.Localidad)">
                    <div [ngSwitch]="errorLocalidad">                        
                        <div *ngSwitchCase="1">Localidad debe tener entre 3 y 100 caracteres</div>
                        <div *ngSwitchCase="2">Localidad debe ser alfanumérico</div>
                    </div>
                    <label>Provincia</label>                    
                    <select class="form-control" name="Provincia" [(ngModel)]="proveedor.Provincia" placeholder="Provincia" (blur)="onBlurProvincia(proveedor.Provincia)">
                        <option value="" selected>Seleccionar</option>
                        <option value="Buenos Aires">Buenos Aires</option>
                        <option value="Capital Federal">Capital Federal</option>
                        <option value="Catamarca">Catamarca</option>
                        <option value="Chaco">Chaco</option>
                        <option value="Chubut">Chubut</option>
                        <option value="Cordoba">Cordoba</option>
                        <option value="Corrientes">Corrientes</option>
                        <option value="Entre Rios">Entre Rios</option>
                        <option value="Formosa">Formosa</option>
                        <option value="Jujuy">Jujuy</option>
                        <option value="La Pampa">La Pampa</option>
                        <option value="La Rioja">La Rioja</option>
                        <option value="Mendoza">Mendoza</option>
                        <option value="Misiones">Misiones</option>
                        <option value="Neuquen">Neuquen</option>
                        <option value="Rio Negro">Rio Negro</option>
                        <option value="Salta">Salta</option>
                        <option value="San Juan">San Juan</option>
                        <option value="San Luis">San Luis</option>
                        <option value="Santa Cruz">Santa Cruz</option>
                        <option value="Santa Fe">Santa Fe</option>
                        <option value="Santiago del Estero">Santiago del Estero</option>
                        <option value="Tierra del Fuego">Tierra del Fuego</option>
                        <option value="Tucuman">Tucuman</option>
                    </select>
                    <div [ngSwitch]="errorProvincia">
                        <div *ngSwitchCase="1">Debe seleccionar un Provincia</div>
                        <div *ngSwitchCase="2">Provincia debe ser alfanumérico</div>
                    </div>  
                    <label>Codigo Postal</label>
                    <input type="number" class="form-control" name="CodigoPostal" [(ngModel)]="proveedor.CodigoPostal" placeholder="CodigoPostal" (blur)="onBlurCodigoPostal(proveedor.CodigoPostal)">
                    <div [ngSwitch]="errorCodigoPostal">
                        <div *ngSwitchCase="1">Debes completar el campo y tener entre 3 y 50 caracteres</div>                        
                        <div *ngSwitchCase="2">CodigoPostal debe ser numérico</div>
                    </div>                  
                    <label>Descripcion</label>
                    <input type="text" class="form-control" name="Descripcion" [(ngModel)]="proveedor.Descripcion" placeholder="Descripcion" (blur)="onBlurDescripcion(proveedor.Descripcion)">
                    <div [ngSwitch]="errorDescripcion">
                        <div *ngSwitchCase="1">Descripcion no puede tener mas de 200 caracteres</div>
                    </div>
                    
                </div>                
                <button class="btn btn-primary" (click)="verificarForm()">Guardar</button>                
            </form>        
        </div>    
    </div>
    <button class="btn btn-dark mr-3" id="botones2" routerLink="../../usuarios/home">Volver</button>    
</body>
